{% extends "base.html" %}
{% block content %}

<div class="card">
  <h2>Edit Donor</h2>

  <form method="POST">
    <input type="text" name="name" value="{{ donor.name }}" required>

    <select name="blood" required>
      <option selected>{{ donor.blood }}</option>
      <option>A+</option><option>A-</option>
      <option>B+</option><option>B-</option>
      <option>O+</option><option>O-</option>
      <option>AB+</option><option>AB-</option>
    </select>

    <input type="text" name="city" value="{{ donor.city }}" required>
    <input type="text" name="mobile" value="{{ donor.mobile }}" required>

    <button type="submit">Update</button>
  </form>
</div>

{% endblock %}