{% extends "base.html" %}
{% block content %}

<div class="card">
  <h2>Register as Donor</h2>

  <form method="POST">
    <input type="text" name="name" placeholder="Full Name" required>

    <select name="blood" required>
      <option value="" disabled selected>Select Blood Group</option>
      <option>A+</option><option>A-</option>
      <option>B+</option><option>B-</option>
      <option>O+</option><option>O-</option>
      <option>AB+</option><option>AB-</option>
    </select>

    <input type="text" name="city" placeholder="City" required>
    <input type="text" name="mobile" placeholder="Mobile Number" required>

    <button type="submit">Join Network</button>
  </form>
</div>

{% endblock %}